
<!-- Begin Hiraola's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Blog Grid View</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog Left Sidebar</li>
            </ul>
        </div>
    </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->

<!-- Begin Hiraola's Blog Left Sidebar Area -->
<div class="hiraola-blog_area hiraola-blog_area-2 blog-grid-view_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2">
                <div class="hiraola-blog-sidebar-wrapper">
                    <div class="hiraola-blog-sidebar">
                        <div class="hiraola-sidebar-search-form">
                            <form action="javascript:void(0)">
                                <input type="text" class="hiraola-search-field" placeholder="search here">
                                <button type="submit" class="hiraola-search-btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="hiraola-blog-sidebar">
                        <h4 class="hiraola-blog-sidebar-title">Categories</h4>
                        <ul class="hiraola-blog-archive">
                            <li><a href="javascript:void(0)">Necklaces (07)</a></li>
                            <li><a href="javascript:void(0)">Earrings (12)</a></li>
                            <li><a href="javascript:void(0)">Bracelet (05)</a></li>
                            <li><a href="javascript:void(0)">Anklet (18)</a></li>
                            <li><a href="javascript:void(0)">Braid Jewels (13)</a></li>
                            <li><a href="javascript:void(0)">Foot Harness (06)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="row blog-item_wrap">
                    <div class="col-lg-6">
                        <div class="blog-item">
                            <div class="blog-img img-hover_effect">
                                <a href="blog-details-left-sidebar.html">
                                    <img src="assets/images/blog/medium-size/4.jpg" alt="Hiraola's Blog Image">
                                </a>
                                <div class="blog-meta-2">
                                    <div class="blog-time_schedule">
                                        <span class="day">25</span>
                                        <span class="month">April</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-heading">
                                    <h5>
                                        <a href="blog-details-left-sidebar.html">Blog Image Post</a>
                                    </h5>
                                </div>
                                <div class="blog-short_desc">
                                    <p>Aenean vestibulum pretium enim, non commodo urna volutpat vitae. Pellentesque vel
                                        lacus
                                        eget est d...
                                    </p>
                                </div>
                                <div class="hiraola-read-more_area">
                                    <a href="blog-details-left-sidebar.html" class="hiraola-read_more">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hiraola-single-blog_slider">
                            <div class="blog-item">
                                <div class="blog-img img-hover_effect">
                                    <a href="blog-details-left-sidebar.html">
                                        <img src="assets/images/blog/medium-size/3.jpg" alt="Hiraola's Blog Image">
                                    </a>
                                    <div class="blog-meta-2">
                                        <div class="blog-time_schedule">
                                            <span class="day">25</span>
                                            <span class="month">April</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-heading">
                                        <h5>
                                            <a href="blog-details-left-sidebar.html">Blog First Gallery Post</a>
                                        </h5>
                                    </div>
                                    <div class="blog-short_desc">
                                        <p>Aenean vestibulum pretium enim, non commodo urna volutpat vitae. Pellentesque vel
                                            lacus
                                            eget est d...
                                        </p>
                                    </div>
                                    <div class="hiraola-read-more_area">
                                        <a href="blog-details-left-sidebar.html" class="hiraola-read_more">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Blog Left Sidebar Area End Here -->